@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
/*@font-face {*/
/*font-family: Blackwords;*/
/*src: url(Blacksword.otf);*/
/*}*/
html, body{
    font-family: 'Ubuntu', sans-serif !important;
    height:100%;
}
body{
    background:#eceff4;
}
#profile_img_dis img {
    width: 30px;
    margin: 24px 0 0 0;

}
 /*#myModal, #myModal2 {
    width: 60%;
    

}*/
a:hover,a:focus,button:hover,button:focus, i:hover{
    -webkit-transition: all 0.2s linear ;
    -moz-transition: all 0.2s linear ;
    -ms-transition: all 0.2s linear ;
    -o-transition: all 0.2s linear ;
    transition: all 0.2s linear ;
    text-decoration: none !important;
}
:hover,:focus{
    -webkit-transition: all 0.2s linear ;
    -moz-transition: all 0.2s linear ;
    -ms-transition: all 0.2s linear ;
    -o-transition: all 0.2s linear ;
    transition: all 0.2s linear ;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: -500px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-transition:0.2s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width:250px;
}


/* The navigation menu links */
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:focus{
    color: #000;
    text-decoration:none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    margin-left: 0;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    background: #333;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 1;
}
.sidenav .closebtn:hover{
    background:#f05523;
    color: #fff;
}
.sidenav a {
    padding: 10px 15px 10px 32px;
    text-decoration: none;
    font-size: 13px;
    color: #333;
    display: block;
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
}
.sidenav a.active{
    background:#f05523;
    color: #fff;
}
.mobilecontainer span {
    color: #588ded;
    margin-right: 0;
    margin-top: 10px;
    padding: 10px 0;
}
.mobilecontainer img {
    width: 70px;
    margin: 24px 0 0 0;

}
.mobilecontainer{
    padding-left: 0;
    display: table;
    width: 100%;
    padding: 0 20px;
}
.loader{
    position: fixed;
    height: 100%;
    background: #FFFFFF;
    width: 100%;
    z-index: 999999;
    top: 0;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    top:47%;
    left:50%;
    transform:translate(-50%,-50%);
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #588ded;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.topbar .logo a{
    display: inline-block;
    background: #5f97ff;
    color: #fff;
    text-align: center;
    width: 80px;
    text-align: center;
    height: 80px;
    padding-top: 8px;
    padding-left: 5px;
}
.topbar .page_title{
    color: #5d5d5d;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    padding: 8px 20px;
    position: relative;
    top: 5px;
}
.topbar .col-md-6{
    padding:0;
}
.topbar .col-md-6.text-right{
    font-family: 'Montserrat', sans-serif;
}
.userlink a{
    color: #b9bcd1;
    font-weight:300;
    padding:0 10px;
    border-right:1px solid #b9bcd1;
}
.userlink a:hover{
    color: #5f97ff;
}
.topbar .logout{
    display: inline-block;
    background: #5f97ff;
    color: #fff;
    text-align: center;
    width: 80px;
    height: 80px;
    padding-top: 18px;
    padding-left: 5px;
}
.notilink a {
    font-size:14px;
}
.notilink a i{
    color: #b9bcd1;
    font-weight: 300;
    padding: 7px 0 0 15px;
    font-size: 17px;
}
.notilink a span {
    background: #f06866;
    border-radius: 50px;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 9px;
    float: right;
    text-align: center;
    padding-top: 3px;
}
.notilink a:hover,.notilink a:focus{
    color: #5f97ff;
}
.topbar .list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}
.topbar li.userlink.isonline{
    position:relative;
}
/*.topbar li.notilink.hasnotifications {
    position: relative;
}
.topbar li.notilink.hasnotifications:before{
    background: #f06866;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 31px;
    top: 38%;
    content: '';
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}*/
.topbar li.userlink.isonline:before{
    background: #47da93;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    left: 50px;
    top: 40%;
    content: '';
    position: absolute;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.topbarsearch{
    position: relative;
    padding: 0 0 0 15px !important;
}
.topbarsearch:before{
    position: absolute;
    content: '\f002';
    top: 0;
    left: 13px;
    font-family: FontAwesome;
    color: #c8cad4;
}
.topbarsearch input{
    border: 0;
    box-shadow: none;
    font-style: italic;
    color: #c8cad4;
    font-weight: 300;
    font-size: 14px;
    padding-left: 24px;
    outline:0;
}
.topbarsearch input:focus{
    outline:0;
    box-shadow:none;
    border-bottom:1px solid #5f97ff;
}
.topbarsearch input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c8cad4;
}
.topbarsearch input::-moz-placeholder { /* Firefox 19+ */
    color: #c8cad4;
}
.topbarsearch input:-ms-input-placeholder { /* IE 10+ */
    color: #c8cad4;
}
.topbarsearch input:-moz-placeholder { /* Firefox 18- */
    color: #c8cad4;
}
.topbar {
    display: table;
    width: 100%;
}
.topbar ul{
    margin:0;
    padding:0;
}
li.userlink img {
    margin-right: 8px;
    width: 38px;
    height: 38px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.dashboardwrapper {
    background: #616163;
    min-height: 100%;
    padding: 15px 15px 40px 15px;
    margin-left: 80px;
}
.dashboardbody{
    background: white;
    padding: 30px 30px;
}
.tablehead select{
    color: #a0acb9;
    font-weight: 400;
    font-size: 14px;
    -webkit-appearance: none;
    border: 1px solid #e3e6ea;
    width: 150px;
    height: 40px;
    padding: 0 11px;
    position:relative;
}
.tableinputbox{
    color: #a0acb9;
    font-weight: 400;
    font-size: 14px;
    -webkit-appearance: none;
    border: 1px solid #e3e6ea;
    width: 150px;
    height: 40px;
    padding: 0 11px;
    position: relative;
}
.tableGoBtn{
    background: #01cb79;
    color: #fff;
    border: 0;
    padding: 10px 12px;
    /* font-size: 16px; */
    font-weight: 500;
    outline: 0;
}

.tablehead select{

}
.tablehead select{
    margin-right:15px;
}
.tablehead select:last-child{
    margin-right:0px;
}
.tablehead ul{
    margin:0;
    padding:0;
}
.tablehead ul li{
    position:relative;
}
.tablehead li:after{
    position: absolute;
    content: '\f107';
    font-family: FontAwesome;
    top: 50%;
    right: 18px;
    color: #e3e6ea;
    transform: translateY(-50%);
    font-size: 15px;
}
.tablehead h2{
    color: #474b52;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0 0px 0;
    font-size: 20px;
    font-weight: 500;
}
.tablehead .pull-left a.report{
    background: #5f97ff;
    color: #fff;
    /*-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;*/
    padding: 9px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    height: 40px;
}
.tablehead .pull-left a.report:hover{
    background:#000;
    color: #fff;
}
.tablebody table.table tr{

}
h2.r2 {
    padding-left: 15px;
}
.tablebody table.table th{
    color: #b9bcd1;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
.tablebody table.table td{
    color: #474b52;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
    padding: 20px;
    border-top: 1px solid #dddee0;
    max-width: 146px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tablebody table.table td.tablephone{
    color: #e54340;
}
.tablebody table.table td.tableemail{
    color: #5f97ff;
}
.tablebody table.table td .gradefilter{
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    /*-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;*/
    padding: 5px 16px;
    min-width: 87px;
    display: inline-block;
    text-align: center;
}
.tablebody table.table td .activegrade{
    background:#5f97ff;
}
.tablebody table.table td .inactivegrade{
    background:#e54340;
}
.tablebody table.table td .pendinggrade{
    background:#dfd702;
}
.tablebody table.table td .completedgrade{
    background:#01ca78;
}
.tablebody table.table td .donegrade{
    background:#eceff1;
    color: #78909c;
}
.tablebody table.table td .notdonegrade{
    background:#e54340;
}
.tablebody table.table{
    margin: 0;
}
.tablebody table.table td:last-child,.tablebody table.table th:last-child{
    text-align: center;
}
.tablebody table.table td.marksheetotal.text-right {
    text-align: right;
    color: #e54340;
}
.tablebody{
    padding: 20px;
    background: #f9fafc;
    margin-top: 20px;
}
.bg{
    /*background: #f8f9fb !important;*/
}
.bgWhite{
    background: #fff !important;
}

input[type="date"]::before{
    color: #999;
    content: attr(placeholder) ": ";
}
input[type="date"]:focus::before {
    content: "" !important;
}

input[type="date"]::before {
    color: #999999 !important;
    content: attr(placeholder);
}
input[type="date"] {
    color: #fff !important;
}
input[type="date"]:focus,
input[type="date"]:valid {
    color: #666666 !important;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "" !important;
}
.formSec{
    display: none;
}
.selectbox{
    border: 0;
    background: #f8f9fb;
    box-shadow: none;
    outline: 0;
    font-size: 12px;
    color: #474b52;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 50px;
    padding-left: 22px;
}
.modal-body {
    display: inline-block;
    width: 100%;
}
.modal-body label{
    float: left;
    width: 30%;
}
.modal-body p{
    float: left;
    width: 70%;
    margin:0;
}

.text {
    float: left;
    width: 47%;
    border-bottom:1px solid #e5e5e5;
    margin: 6px 8px;
}
.text label{
    float: left;
    width: 36%;
    color:#b9bcd1;
}
.text p{
    float: left;
    width: 64%;
    margin:0;
    color:#474b52;
}
.modal-dialog-width{
width: 850px !important;
}
/*.text {
    display: inline-block;
    width: 100%;
    border-bottom:1px solid #e5e5e5;
    margin: 6px 0;
}
.text label{
    float: left;
    width: 30%;
    color:#b9bcd1;
}
.text p{
    float: left;
    width: 70%;
    margin:0;
    color:#474b52;
}*/
.modal-footer{
    border-top:none !important;
}
body .noBack{
    background:white;
}
.logoupdate{
    text-align: center;
    background: #fff;
    /*border-radius: 20px;*/
    min-height: 128px;
    border-bottom: 1px solid #eaebec;
    /*padding-top: 14%;*/
}
.tablebody form .form-control:focus{
    border-bottom:1px solid #5f97ff;
    border-radius: 0;
}
.upload-img{
    display: inline-block;
    width: 198px;
    height: 128px;
    border-radius: 10px;
}
.updatebody img{
    display: inline-block;
    width: 198px;
    height: 128px;
    border-radius: 10px;
}
.imageLabel{
    width: 100%;
}
.submitBtn button{
    background: #01cb79;
    color: #fff;
    border: 0;
    padding: 11px 40px;
    /*-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;*/
    font-size: 16px;
    font-weight: 500;
    outline: 0;
}
.disableInputForm{   
    border: 0 !important;
    background: #f8f9fb;
    box-shadow: none !important;
    outline: 0;
    font-size: 12px !important;
    color: #474b52 !important;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    height: 50px !important;
    padding-left: 22px;
    margin-bottom: 20px;
}

.submitBtn button:hover{
    background: #000;
    color: #fff;
}
.logoupdate i{
    color: #bcbcbc;
    font-size: 36px;
}
.logoupdate h5{
    color: #bcbcbc;
    font-weight: 300;
    margin: 10px 0 0 0;
    font-size: 16px;
    position: absolute;
    right: 0;
    left: 0;
}
.tablebody form .form-control{
    border: 0;
    /*background: #f8f9fb;*/
    border-bottom: 1px solid #eaebec;
    box-shadow: none;
    outline: 0;
    font-size: 12px;
    color: #474b52;
    font-family: 'Montserrat', sans-serif;
    /*-webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;*/
    height: 50px;
    padding-left: 22px;
    border-radius: 0;
}
.tablebody form textarea.form-control{
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    height: inherit;
    padding-top: 20px;
    border-bottom: 1px solid #eaebec;
    resize: none;
}
.tablebody form .form-group{
    margin-bottom:30px;
}
.tablebody form button{
    background: #01cb79;
    color: #fff;
    border: 0;
    padding: 11px 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    outline:0;
}
.tablebody form button:hover,.tablebody form button:focus{
    background:#000;
    color: #fff;
}
.viewbtn,.editbtn, .remove-btn, .viewfile{
    background: #eceff1;
    color: #8399a4;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
}

.editbtn:hover,.editbtn:focus{
    background:#5f97ff;
    color: #fff;
}
.viewbtn:hover,.viewbtn:focus,.viewfile:focus{
    background:#01cb79;
    color: #fff;
}
.remove-btn:hover,.remove-btn:focus{
    background:red;
    color: #fff;
}
.downloadbtn{
    color: #78909c;
    display: inline-block;
    /*-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;*/
    background:#eceff1;
    font-size:13px;
    padding:10px 20px;
}
.downloadbtn i{
    margin-right:5px;
}
.downloadbtn:hover,.downloadbtn:focus{
    background:#5f97ff;
    color: #fff;
}
.rightnaver ul{
    margin:0;
    padding:0;
}
.rightnaver ul li{
    padding:0 0;
}
.rightnaver li a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 0px;
    border-bottom: 1px solid #e0e3ee;
    display: block;
}
.sub-menu li .list{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding:4px 0px;
    border-bottom: none;
    display: block;
}
.submenu{
    display: none;
}
.rightnaver li.active a{
    color: #474b52;
}
.rightnaver li a:hover,.rightnaver li a:focus{
    color: #fff;
}
.wrapper > .row{
    margin:0;
    padding:0;
}
.fullsizer{
    width:100% !important;
}
.wrapper > .row > .col-md-11,.wrapper > .row > .col-md-1{
    padding:0;
}
.sidebar li a{
    padding: 10px 0px;
    display: block;
    text-align: center;
    height: 60px;
}
.wrapper > .row > .col-md-1 {
    width: 5.8%;
}
.wrapper > .row > .col-md-11{
    width:94.2%;
}
.sidebar ul{
    margin:0;
    padding:0;
}
.sidebar li a img{
    margin:auto;
}
.sidebar li.active a img{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
.wrapper{
    position: relative;
    min-height: 100%;
    background: #eceff4;
}
.wrapper .sidebar{
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 53px;
    /*border-right: 1px solid #eaeaea;*/
    height: 100%;
    background:#424141;
}
.navicon {
    /*margin-bottom: 20px;*/
    position: absolute;
    left: 30px;
    margin-top: 6px;
}
.marksheethead{
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border-bottom:1px solid #535860;
}
.marksheethead h4{
    color: #a0acb9;
    margin: 0;
    font-weight: 700;
    height: 60px;
    line-height: 4;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 16px;
}
.marksheethead ul{
    padding:0;
    margin:0;
}
.marksheethead li{
    padding: 0 !important;
    height: 60px;
    width: 70px;
    border-right: 1px solid #535860;
    text-align: center;
    box-sizing: border-box;
    line-height: 3.9;
    margin-left: -5px;
}
.marksheethead li i.fa.fa-arrow-left{
    margin-right:3px;
}
.marksheethead li a{
    color: #b9bcd1;
}
.marksheethead li:first-child a {
    padding-right: 20px;
    position: relative;
    top: 2px;
}
.marksheetbody{
    background:#474b52;
    padding:30px;
}
.marksheetbody h5{
    color: #7f8898;
    font-weight:600;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}
.marksheetbody h5.result{
    background: #41454b;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
}
.marksheetbody h5.result.pass{
    background:#5f97ff;
}
.marksheetbody > .row{
    margin-bottom:30px;
}
.marksheetbody > .row:last-child{
    margin-bottom:0px;
}
.schedulehead{
    font-family: 'Montserrat', sans-serif;
}
.schedulehead h4{
    margin: 0 0 10px 0;
    color: #474b52;
}
.schedulehead h3{
    margin: 0 0 10px 0;
    color: #b9bcd1;
    font-size: 19px;
    line-height: 23px;
}
.schedulehead h5{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.schedulehead h5 span.greencolor{
    color: #8ecd4a;
    display: block;
}
.schedulehead h5 span.redcolor{
    color: #e54340;
    display: block;
}
.schedulehead h5 span.bluecolor{
    color: #5f97ff;
    display: block;
}
.scheduletable table.table th{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #616163;
    text-align: center;
    font-size:13px;
    font-weight:bold;
    padding:20px;
    border-top:0;
    border:1px solid #fff;
    vertical-align: middle;
}
.scheduletable table.table{
    margin:0;
}
.scheduletable table.table tr{

}
.scheduletable table.table td{
    padding: 20px;
    text-align: center;
    border-right: 1px solid #656c78;
    border-bottom: 1px solid #656c78;
    color: #b9bcd1;
    border-top: 0;
    vertical-align: middle;
}
.scheduletable table.table td:last-child{
    border-right:0;
}
.scheduletable tbody tr:nth-child(odd) td{
    background:#fff;
}
.scheduletable tbody tr:nth-child(even) td{
    background:#f9fafc;
}
.scheduletable tbody td:first-child{
    color: #474b52;
    font-weight:600;
}
.schedulehead .text-right a{
    color: #b9bcd1;
    font-size: 17px;
    font-weight: 500;
}
.schedulehead .text-right a:hover{
    color: #5f97ff;
}
.schdeulelinks{

}
.schdeulelinks a{
    color: #b9bcd1;
    font-size:13px;
    font-weight:500;
    padding:0 15px;
    border-right:1px solid #b9bcd1;
}
.schdeulelinks a:hover,.schdeulelinks a:focus{
    color: #5f97ff;
}
.schdeulelinks a:last-child{
    border:0;
}

.schdeulelinks {
    padding: 19px 28px;
}
.statssec {
    padding: 20px;
}
.statsbody{
    margin: 30px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #efefef;
    padding-bottom: 30px;
}
.statsbody h4{
    color: #b9bcd1;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
}
.statsbody h1{
    color: #474b52;
    font-weight: 400;
    font-size: 57px;
    margin: 8px 0 0 0;
}
.statsbody h1 img{

}
.statsbody h4 small{
    color: #b9bcd1;
}
.statsbody .col-md-3:first-child{
    padding-left:15px;
}
.statsbody .col-md-3{
    border-right:1px solid #b9bcd1;
    padding-left:40px;
}
.statsbody .col-md-3:last-child{
    border:0;
}

/*ChartJS*/
.chartjs-title {
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
}

.chartjs-title::before {
    content: 'Chart.js | ';
    color: #f27173;
    font-weight: 600;
    padding-left: 48px;
}

.chartjs-caption {
    font-size: 1.2rem;
}

.chartjs-links {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}

.chartjs-links a {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    margin: 0.2rem;
}

.chartjs-links .fa:before {
    margin-right: 0.5em;
}

.samples-category {
    display: inline-block;
    margin-bottom: 32px;
    vertical-align: top;
    width: 25%;
}

.samples-category > .title {
    color: #aaa;
    font-weight: 300;
    font-size: 1.5rem;
}

.samples-category:hover > .title {
    color: black;
}

.samples-category > .items {
    padding: 8px 0;
}

.samples-entry {
    padding: 0 0 4px 0;
}

.samples-entry > .title {
    font-weight: 700;
}

@media (max-width: 640px) {
    .samples-category { width: 33%; }
}

@media (max-width: 512px) {
    .samples-category { width: 50%; }
}

@media (max-width: 420px) {
    .chartjs-caption { font-size: 1.05rem; }
    .chartjs-title::before { content: ''; }
    .chartjs-links a { flex-direction: column; }
    .chartjs-links .fa { margin: 0 }
    .samples-category { width: 100%; }
}

.analyser table {
    color: #333;
    font-size: 0.9rem;
    margin: 8px 0;
    width: 100%
}

.analyser th {
    background-color: #f0f0f0;
    padding: 2px;
}

.analyser td {
    padding: 2px;
    text-align: center;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chartwrapper{
    position: relative;
}
.dashboardindextabs{
    margin-top: 30px;
}
.dashboardindextabs .tab-content{
    margin-top:20px;
}
.dashboardindextabs .nav-pills>li>a {
    border-radius: 4px;
    background: #ebf0f8;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 0;
    color: #a0acb9;
    font-weight: 500;
    padding: 10px 25px;
    display: inline-block;
}
.dashboardindextabs .nav-pills>li>a:hover,.dashboardindextabs .nav-pills>li>a:focus,.dashboardindextabs .nav-pills>li.active>a,.dashboardindextabs .nav-pills>li.active>a:hover,.dashboardindextabs .nav-pills>li.active>a:focus{
    background:#5f97ff;
    color: #fff;
}
.dashboardindextabs .nav-pills>li {
    float: left;
    margin-right: -1px;
}

.tablebody table.table tr{

}
.mainHead{
    display: inline-block;
    width: 81.333333%; 
    text-transform: uppercase;

}
.mainHead h1{
    display: inline-block;
    width: 100%; 
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0px 15px;
    /* border-bottom: 1px solid; */
    padding: 4px 0;
    font-family: 'Montserrat', sans-serif;
    background: #b9bcd1;
    padding: 10px 36px;
}
h2.r2 {
    padding-left: 15px;
}
.dashboardindextabs table.table th{
    color: #b9bcd1;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 20px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
.dashboardindextabs table.table td{
    color: #2e2f31;
    font-weight: 500;
    font-size: 15px;
    vertical-align: middle;
    padding: 20px;
    border-top: 1px solid #dddee0;
}
.dashboardindextabs table.table td .gradefilter{
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 5px 16px;
    min-width: 87px;
    display: inline-block;
    text-align: center;
}
.dashboardindextabs table.table td .activegrade{
    background:#5f97ff;
}
.dashboardindextabs table.table td .inactivegrade{
    background:#e54340;
}
.dashboardindextabs table.table{
    margin: 0;
    /* background:#f9fafc; */
}

.dashboardindextabs table.table td.marksheetotal.text-right {
    text-align: right;
    color: #e54340;
}
.dashboardindextabs{
    margin-top: 20px;
}
.dashboardindextabs table.table th{

}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: none !important;
}
input#file + label {
    width: 100%;
}
.rightnaver{
    margin-top: 30px;
}
/* Schedule table input */
.sched{
    float: left;
    width: 100%;
    background: #f9fafc;
    border: 1px solid #dddee0;
}
.headShed{
    display: inline-block;
    width: 100%;
    background: #eceff4;
    /*padding: 10px 3px;*/
    /*border-bottom: 1px solid #dddee0;*/
}
.headShed a{
    float: right;
    padding: 0 6px;
    padding: 6px 3px;
}
.scheInput{
    display: inline-block;
    width: 90%;
}
.scheInput input{
    border: 1px solid #dddee0;
    background: #f9fafc;
    box-shadow: none;
    outline: 0;
    font-size: 12px;
    color: #474b52;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 27px;
    padding-left: 8px;
    margin: 10px 0;
}
.padding0{
    padding: 0px !important;
}
.scheInput label {
    float: left;
    width: 100%;
    text-align: left;
    padding: 0 6px;
    font-weight: 500;
}
.scheInput select{
    border: 1px solid #dddee0;
    background: #f9fafc;
    box-shadow: none;
    outline: 0;
    font-size: 12px;
    color: #474b52;
    font-family: 'Montserrat', sans-serif;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 27px;
    padding-left: 8px;
    margin: 10px 0;
}
/*Student CSS*/
.studenttablebody form .form-group{
    margin-bottom:40px;
}
.totaltable {
    background: white;
    padding:  0px 30px 30px 30px;
}
.totaltable table.table th{
    color: #b9bcd1;
    font-family: 'Montserrat', sans-serif;
    border:0;
    font-size:15px;
    padding:20px 20px;
}
.totaltable table.table td{
    color: #474b52;
    font-size: 15px;
    padding: 20px 20px;
    font-weight: 500;
}
.totaltable table.table td:last-child{
    color: #5f97ff;
}
.totaltable table.table td.tabletotal{
    color: #e54340;
}
.loginwrapper{
    background:url(../images/students/login.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height:100%;
    display: flex;
    align-items: center;
}
.loginsec{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 5px #9999998f;
}
.loginsec .col-md-6 > img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.loginsec .lhead h3{
    margin: 10px 0 17px 0;
    color: #3c3c3c;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 34px;
}
.loginsec .lhead p{
    font-family: 'Montserrat', sans-serif;
    color: #b9bcd1;
    font-size:14px;
    line-height:21px;
}
.loginsec .lhead img{
    margin:auto;
}
.loginbody .form-control{
    height:50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border:0;
    background:#f8f9fb;
    color: #bcbcbc;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size:13px;
    outline:0;
    box-shadow: none;
    padding-left:20px;
}
.loginbody .form-control:focus{
    border:1px solid #e94d4a;
    box-shadow: none;
    outline:0;
}
.loginbody button{
    margin-top: 10px;
    width: 100%;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(#e94d4a, #e13532);
    border: 0;
    height: 50px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    outline:0;
    box-shadow: none;
}
.loginbody button:hover{
    color: #fff;
}
.loginbody .form-group{
    margin-bottom:15px;
}
.loginbody form{
    margin-top:25px;
    padding:0 10%;
}
.loginbody {
    padding: 18% 0;
}
/*Checkbox*/
.check-input {
   width: 22px;
    margin: 0;
    padding: 0;
    border: 1px solid;
    height: 22px;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 11px;
    margin-right: 10px;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 4px;
    left: 0;
    outline: none !important;
}
.check-input:checked:before {
    content: '\2713';
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -1px;
    left: -1px;
    background: #2196F3;
    padding: 0px 6px;
    border-radius: 4px;
    line-height: 20px;
    color: white !important;
}
/*radio button*/

.checkinputQues{
    width: 18px;
    margin: 0;
    padding: 0;
    border: 1px solid;
    height: 18px;
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 7px;
    margin-right: 10px;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 4px;
    left: 0;
    outline: none !important;
}
.checkinputQues:checked:before {
    content: '\2713';
    display: block;
    width: 20px;
    height: 21px;
    position: absolute;
    top: -3px;
    left: -1px;
    background: #2196F3;
    padding: 0px 4px;
    border-radius: 4px;
    line-height: 20px;
    color: white !important;
}

.checkboxinput {
 
     display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    font-weight: normal;
    font-size: 16px;
    float: left;
    margin: 0 8px;
        padding-top: 8px;
}
.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px !important;
}


.checkboxinput input {
    position: absolute;
   
    cursor: pointer;
}


.checkround {

    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff ;
    border-color:#5f97ff;
    border-style:solid;
    border-width:2px;
    border-radius: 50%;
}



.checkboxinput input:checked ~ .checkround {
    background-color: #fff;
}


.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxinput input:checked ~ .checkround:after {
    display: block;
}


.checkboxinput .checkround:after {
    left: 2px;
    top: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:#5f97ff;
}
.checkBtns{
    display: inline-block;
    width: 100%;
}
.checkBtns h4{
    float: left;
    margin-right: 16px;
}




@media only screen and (min-width: 200px) and (max-width: 500px) {
    .mobilecontainer{
        display: none;
    }
    .loginwrapper{
        display: block;
        padding: 60px 15px;
        height: inherit;
    }
    .loginsec .col-md-6 > img{
        display: none;
    }
    .topbar .col-md-6.text-right {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .userlink a{
        border:0;
    }
    .topbar li.userlink.isonline:before, .topbar li.notilink.hasnotifications:before {
        display: none;
    }
    .topbar ul li.topbarsearch{
        display: block !important;
        margin: 20px 0;
        width: 100%;
        padding: 0 10px 0 10px !important;
    }
    .topbar ul{
        padding:20px 0 0 0;
    }
    .topbar li.topbarsearch + li{
        text-align: right;
        display: block !important;
        width: 100%;
    }
    .topbarsearch input {
        border: 1px solid #5f97ff;
        width: 100%;
        height: 40px;
        padding-left: 30px;
    }
    .topbarsearch:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left:20px;
    }
    .wrapper .sidebar{
        display: none;
    }
    .dashboardwrapper {
        background: #eceff4;
        min-height: 100%;
        padding: 15px 20px 40px 20px;
        margin-left: 0;
    }
    div#togglenaver{
        display: none;
    }
    .statsbody .col-md-3 {
        margin-bottom:30px;
        border:0;
        border-bottom:1px solid #b9bcd1;
        padding-left: 15px;
        padding-bottom:15px;
    }
    .statsbody .col-md-3:last-child {
        margin-bottom:0;
        border:0;
    }
    .dashboardbody {
        background: white;
        padding: 40px 10px;
    }
    .tablebody form .form-group {
        margin-bottom: 15px;
    }
    .tablebody form .form-group .row > div:first-child {
        margin-bottom: 15px;
    }
    .tablebody, .scheduletable, div#wrapper{
        overflow-x:scroll;
    }
    .tablebody table.table th,.tablebody table.table td {
        padding: 15px 60px;
    }
    .tablehead ul {
        text-align: center;
    }
    .tablehead ul li{
        margin-bottom:10px;
    }
    .tablehead ul li:last-child{
        margin-bottom:0px;
    }
    .tablebody table.table td:last-child, .tablebody table.table th:last-child {
        text-align: left;
    }
    .tablehead .pull-left + .pull-right {
        margin-top: 20px;
    }
    .tablehead .pull-left{
        width:100%;
    }
    .tablehead .pull-left a.report{
        display: block;
        text-align: center;
    }
    .schdeulelinks a {
        border: 0;
        display: block;
        margin-bottom: 10px;
    }
    .marksheethead .col-md-6.text-right{
        text-align: center;
    }
    .marksheethead h4 {
        text-align: center;
        height: 40px;
    }
    .marksheethead ul{
        margin-top:10px;
    }
    .marksheethead li{
        border:0;
    }
    .marksheetbody > .row {
        margin-bottom: 0;
    }
    .topbar .page_title {
        display: block;
        text-align: center;
        font-size: 14px;
    }
    .topbar {
        position: relative;
    }
    span.logo {
       text-align: center;
        display: block;
    }

}
@media only screen and (min-width: 501px) and (max-width: 700px) {
    .mobilecontainer{
        display: none;
    }
    .loginwrapper{
    }
    .loginsec .col-md-6 > img{
        display: none;
    }
    body .loginwrapper .container {
        width: 90%;
    }
    .topbar .col-md-6.text-right {
        text-align: left;
    }
    .userlink a{
        border:0;
    }
    .topbar li.userlink.isonline:before, .topbar li.notilink.hasnotifications:before {
        display: none;
    }
    .topbar ul li.topbarsearch{

    }
    .topbar ul{
        padding: 20px 0 20px 0;
        margin-top: 30px;
        position: relative;
    }
    .topbar li.topbarsearch + li{
        position: absolute;
        right: 0;
        top:0;
    }
    .topbarsearch input {
        border: 1px solid #5f97ff;
        width: 100%;
        height: 40px;
        padding-left: 30px;
    }
    .topbarsearch:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left:20px;
    }
    .wrapper .sidebar{
        display: none;
    }
    .dashboardwrapper {
        background: #eceff4;
        min-height: 100%;
        padding: 15px 20px 40px 20px;
        margin-left: 0;
    }
    div#togglenaver{
        display: none;
    }
    .statsbody .col-md-3 {
        margin-bottom:30px;
        border:0;
        padding-left: 15px;
        padding-bottom:15px;
        width:50%;
        float:left;
    }
    .statsbody .col-md-3:last-child {
        margin-bottom:0;
        border:0;
    }
    .dashboardbody {
        background: white;
        padding: 40px 10px;
    }
    .tablebody form .form-group {
        margin-bottom: 15px;
    }
    .tablebody form .form-group .row > div:first-child {
        margin-bottom: 15px;
    }
    .tablebody, .scheduletable, div#wrapper{
        overflow-x:scroll;
    }
    .tablebody table.table th,.tablebody table.table td {
        padding: 15px 20px;
    }
    .tablehead ul {
        text-align: center;
    }
    .tablehead ul li{
        margin-bottom:10px;
    }
    .tablehead ul li:last-child{
        margin-bottom:0px;
    }
    .tablebody table.table td:last-child, .tablebody table.table th:last-child {
        text-align: left;
    }
    .marksheethead h4 {
        text-align: center;
        height: 40px;
    }
    .marksheethead ul{
        margin-top:10px;
    }
    .marksheethead li{
        border:0;
    }
    .marksheetbody > .row {
        margin-bottom: 0;
    }
    .topbar .page_title {
        display: block;
        text-align: center;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .topbar {
        position: relative;
    }
    span.logo {
        text-align: center;
        display: block;
    }
    .topbar .col-md-6:first-child{
        width:20%;
        float: left;
    }
    .topbar .col-md-6:last-child{
        width: 80%;
        float: left;
    }
    .wrapper{
        clear:both;
    }
    .topbar .logout img {
        width: 70%;
    }
    .topbar .logout {
        width: 50px;
        height: 75px;
    }
    .marksheethead .col-md-6:first-child {
        width: 30%;
        float: left;
    }
    .marksheethead .col-md-6:last-child {
        width: 70%;
        float: left;
    }
    .downloadbtn {
        text-align: center;
    }
    .statssec {
        text-align: center;
    }
    .logoupdate {
        padding-top: 7%;
    }
}
@media only screen and (min-width: 701px) and (max-width: 999px) {
    .mobilecontainer{
        display: none;
    }
    .logoupdate {
        padding-top: 5%;
    }
    .loginwrapper{

    }
    .loginsec .col-md-6 > img{
        display: none;
    }
    .topbar .col-md-6.text-right {
        text-align: left;
    }
    .userlink a{
        border:0;
    }
    .topbar li.userlink.isonline:before, .topbar li.notilink.hasnotifications:before {
        display: none;
    }
    .topbar ul li.topbarsearch{

    }
    .topbar ul{
        padding: 20px 0 20px 0;
    }
    .topbar li.topbarsearch + li{
        position: absolute;
        right: 0;
        top:0;
    }
    .topbarsearch input {
        border: 1px solid #5f97ff;
        width: 100%;
        height: 40px;
        padding-left: 30px;
    }
    .topbarsearch:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left:20px;
    }
    .wrapper .sidebar{
        display: none;
    }
    .dashboardwrapper {
        background: #eceff4;
        min-height: 100%;
        padding: 15px 20px 40px 20px;
        margin-left: 0;
    }
    div#togglenaver{
        display: none;
    }
    .statsbody .col-md-3 {
        margin-bottom: 30px;
        border: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        width: 50%;
        float: left;
        text-align: center;
    }
    .statsbody .col-md-3:last-child {
        margin-bottom:0;
        border:0;
    }
    .tablebody form .form-group {
        margin-bottom: 15px;
    }
    .tablebody form .form-group .row > div:first-child {
        margin-bottom: 15px;
    }
    .tablebody, .scheduletable, div#wrapper{
        overflow-x:scroll;
    }
    .tablebody table.table th,.tablebody table.table td {
        padding: 15px 20px;
    }
    .tablehead ul {
        text-align: center;
    }
    .tablehead ul li{
        margin-bottom:10px;
    }
    .tablehead ul li:last-child{
        margin-bottom:0px;
    }
    .tablebody table.table td:last-child, .tablebody table.table th:last-child {
        text-align: left;
    }
    .marksheethead h4 {
        text-align: center;
        height: 40px;
    }
    .marksheethead ul{
        margin-top:10px;
    }
    .marksheethead li{
        border:0;
    }
    .marksheetbody > .row {
        margin-bottom: 0;
    }
    .topbar .page_title {
        font-size: 12px;
        padding: 0;
        margin-left: 6px;
    }
    .topbar {
        position: relative;
    }
    span.logo {

    }
    .topbar .col-md-6:first-child{
        width:35%;
        float: left;
    }
    .topbar .col-md-6:last-child{
        width: 65%;
        float: left;
    }
    .wrapper{
        clear:both;
    }
    .topbar .logout img {
        width: 70%;
    }
    .topbar .logout {
        width:58px;
    }
    .marksheethead .col-md-6:first-child {
        width: 30%;
        float: left;
    }
    .marksheethead .col-md-6:last-child {
        width: 70%;
        float: left;
    }
    .downloadbtn {
        text-align: center;
    }
    .statssec .tablehead {
        text-align: center;
    }
    .tablebody table.table td .gradefilter{
        font-size:12px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    .mobilecontainer{
        display: none;
    }
    .topbar .col-md-6.text-right {
        text-align: left;
    }
    .userlink a{
        border:0;
    }
    .topbar li.userlink.isonline:before, .topbar li.notilink.hasnotifications:before {
        display: none;
    }
    .topbar ul li.topbarsearch{

    }
    .topbar ul{
        padding: 20px 0 20px 0;
    }
    .topbar li.topbarsearch + li{
        position: absolute;
        right: 0;
        top:0;
    }
    .topbarsearch input {
        border: 1px solid #5f97ff;
        width: 100%;
        height: 40px;
        padding-left: 30px;
    }
    .topbarsearch:before {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left:20px;
    }
    .wrapper .sidebar{
        display: none;
    }
    .dashboardwrapper {
        margin-left: 0;
    }
    .statsbody .col-md-3 {
        margin-bottom: 30px;
        border: 0;
        padding-left: 15px;
        padding-bottom: 15px;
        width: 50%;
        float: left;
        text-align: center;
    }
    .statsbody .col-md-3:last-child {
        margin-bottom:0;
        border:0;
    }
    .tablebody form .form-group {
        margin-bottom: 15px;
    }
    .tablebody form .form-group .row > div:first-child {
        margin-bottom: 15px;
    }
    .tablebody, .scheduletable, div#wrapper{
        overflow-x:scroll;
    }
    .tablebody table.table th,.tablebody table.table td {
        padding: 20px;
    }
    .tablehead ul {
        text-align: center;
    }
    .tablehead ul li{
        margin-bottom:10px;
    }
    .tablehead ul li:last-child{
        margin-bottom:0px;
    }
    .tablebody table.table td:last-child, .tablebody table.table th:last-child {
        text-align: left;
    }
    .statssec .tablehead h2 {
        text-align: center;
    }
    .loginbody {
        padding: 10% 0;
    }
    .schdeulelinks a{
        font-size:12px;
    }
}

@media print {
  body * {
    visibility: hidden;
  }
  /*#wrappsizer, #wrappsizer * {
    visibility: visible;
  }
  #wrappsizer {
    position: absolute;
    left: 0;
    top: 0;
  }*/
  .modal-content, .modal-content * {
    visibility: visible;
  }
  .modal-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.phead{
     font-size:12px;
     font-family: 'Montserrat', sans-serif;

}


/* Parent Modal */

.parentDes{
    display: inline-block;
    width: 100%;
    border: 1px solid #dddee0;
    padding: 10px;
    margin-bottom: 20px;
}
.parentDes h1{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #474b52;
    font-weight: 500;
    margin: 0 0 6px 0px;
}
.parentDes p{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #b9bcd1;
    font-weight: 500;
    margin: 0;
}
.studentDataDetail{
    display: inline-block;
    width: 100%;
}
.studentDetailing{
    float: left;
    width: 32.33%;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #dddee0;
    margin-right: 9px;
}
.studentNameId{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.studentNameId img {
    float: left;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    margin-right: 10px;
}
.studentNameId label {
    float: left;
    width: 70%;
    font-size: 16px;
    color: #000;
    margin: 5px 0;
    color: #474b52;
    font-weight: 500;
}
.studentNameId p{
    float: left;
    width: 70%;
    margin: 0;
    color: #b9bcd1;
    font-weight: 500;
}
.student-detail{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #dddee0;
    margin: 6px 0;
}

.student-detail label {
    float: left;
    width:100%;
    font-size: 16px;
    color: #000;
    margin: 0;
    color: #474b52;
    font-weight: 500;
    margin-bottom: 4px;
}
.student-detail p{
    float: left;
    width: 100%;
    margin: 0;
    color: #b9bcd1;
    font-weight: 500;
    padding: 4px 0;
}
.margiRite{
    margin-right: 0 !important
}

.custom-file-upload i{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.custom-file-upload {
    height: 128px;
    border-bottom: 1px solid #eaebec;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #bcbcbc;
    width: 100%;
    text-align: center;
}

/* chat sec style starts here */
/*.chatSec{
    float: left;
    width: 100%;
}*/
.chat
{
    list-style: none;
    margin: 0;
    padding
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.chat-box
{
    overflow-y: scroll;
    height: 250px;
}

.message span {
    background: #f06866;
    border-radius: 50px;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 9px;
    float: right;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    left: -14px;
    top: 0px;
}
.message {
    position: relative;
}

/* chat sec style end here */


/*.errorMessage{
    display:block;
    width:100%;
    height: 36px;
    color:red !important;
    float: left;
    border:1px solid red;
    line-height: 33px;
}

.successMessage{
    display:block;
    width:100%;
    height: 36px;
    color:green !important;
    float: left;
    border:1px solid green;
    line-height: 33px;
}

.errorMessage span img{
    width: 30px;
    float: left;
}
.errorMessage span{
    background: #5f97ff;
    float: left;
    padding: 1px 6px;
    margin-right: 4px;
}
.successMessage span img{
    width: 30px;
    float: left;
}
.successMessage span{
    background: #5f97ff;
    float: left;
    padding: 1px 6px;
    margin-right: 4px;
}
*/



.schoolMarkLogo{
    text-align: center;
    width: 100%;
    margin: 16px 0;
}

.schoolMarkLogo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.schoolMarkName{
    display: inline-block;
    width: 100%;
}
.schoolMarkName h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #5d5d5d;
    font-size: 18px;
    padding: 16px 0;
    margin: 0;
}

.dropdown-menu{
    padding: 4px 4px !important;
}
.dropdown-menu a {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
}



